{% extends "base.html" %}
{% load static %}
	{% block subtitle %}- Ayuda{% endblock subtitle %}
	{% block activemenu %}
		<li><a href="./index">Inicio</a></li>
		<li><a href="./teoria">Teoría</a></li>
		<li><a href="./herramienta">Herramienta</a></li>
		<li><a href="./ayuda" class="active">Ayuda</a></li>	 
	{% endblock activemenu %}
	{% block maincontent %}
	<div class="welcome">
		<div class="container">
		<h2 class="text-left">Ayuda</h2>
		<hr />
		<p class="text-left">A continuación se muestra una imagen donde se indica cada campo de la herramienta que función cumple y como debe ser utilizada para lograr las representaciones deseada.
		</p>
		<img src="../static/images/ayuda.png" width = 80% height =80% />
		<table class="table table-hover">
		  <thead>
		    <tr>
		      <th class="text-center">Función</th>
		      <th class="text-center">Escritura</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <td><i>x<sup> y</sup></i></td>
		      <td>x**y</td>
		    </tr>
		    <tr>
		      <td><i>
		      <span class="radical"><span class="n-root">2</span>&radic;</span><span class="radicand">x</span>
		      </i></td>
		      <td>np.sqrt(x)</td>
		    </tr>
		      <td><i>
		      <span class="radical"><span class="n-root">3</span>&radic;</span><span class="radicand">x</span>
		      </i></td>
		      <td>np.cbrt(x)</td>
		    </tr>
		    <tr>
		      <td><i>sen(x)</i></td>
		      <td>np.sin(x)</td>
		    </tr>
		    <tr>
		      <td><i>cos(x)</i></td>
		      <td>np.cos(x)</td>
		    </tr>
		    <tr>
		      <td><i>tan(x)</i></td>
		      <td>np.tan(x)</td>
		    </tr>
		      <td><i>sen<sup>-1</sup>(x)</i></td>
		      <td>np.arcsin(x)</td>
		    </tr>
		    <tr>
		      <td><i>cos<sup>-1</sup>(x)</i></td>
		      <td>np.arccos(x)</td>
		    </tr>
		    <tr>
		      <td><i>tan<sup>-1</sup>(x)</i></td>
		      <td>np.arctan(x)</td>
		    </tr>
		    <tr>
		      <td><i>&lfloor;x&rfloor;</i></td>
		      <td>np.floor(x)</td>
		    </tr>
		    <tr>
		      <td><i>&lceil;x&rceil;</i></td>
		      <td>np.ceil(x)</td>
		    </tr>
		      <td><i>ln(x)</i></td>
		      <td>np.log(x)</td>
		    </tr>
		      <td><i>log(x)</i></td>
		      <td>np.log10(x)</td>
		    </tr>
		      <td><i>log2(x)</i></td>
		      <td>np.log20(x)</td>
		    </tr>
		      <td><i>x módulo y</i></td>
		      <td>np.mod(x,y)</td>
		    </tr>
		  </tbody>
		</table>
		<!--<p>Content 1</p>-->
		<!--<p>Content 1</p>-->
		<!--<p>Content 1</p>-->
		
		</div>
	</div>
	
	{% endblock maincontent %}
	
	
	{% block bottomtext %}
	<!-- welcome -->
	<!--<div class="welcome">-->
	<!--	 container -->
	<!--	<div class="container">-->
	<!--		<div class="welcome-info">-->
	<!--			<h2 class="agileits-title">Welcome</h2>-->
	<!--			<h5>Lorem ipsum dolor sit amet consectetur adipiscing elit.</h5>-->
	<!--			<p>Morbi condimentum imperdiet placerat. Nullam in nisl eget turpis convallis venenatis. Cras cursus elementum justo nec bibendum. Donec quis nisi cursus, vestibulum elit eget, sagittis ligula.</p>-->
	<!--		</div>-->
	<!--	</div>-->
	<!--	 //container -->
	<!--</div>-->
	<!-- //welcome -->
	{% endblock bottomtext %}
	
	{% block plugins %}
	<link rel="stylesheet" href="{% static 'css/help.css' %}" type="text/css" />
	{% endblock plugins %}