{% extends "base.html" %}
{% load static %}

	{% block maincontent %}

	<div class="banner">
		<!-- container -->
		<div class="container">
		<br>
			<div class="banner-agileinfo">
				<script src="{% static 'js/responsiveslides.min.js' %}"></script>
				<script>
					// You can also use "$(window).load(function() {"
					$(function () {
					// Slideshow 4
						$("#slider3").responsiveSlides({
							auto: false,
							pager: true,
							nav: false,
							speed: 500,
							namespace: "callbacks",
							before: function () {
								$('.events').append("<li>before event fired.</li>");
							},
							after: function () {
								$('.events').append("<li>after event fired.</li>");
							}
						 });				
					});
				</script>
				<div  id="top" class="callbacks_container-wrap">
					
					<ul class="" id="slider3">
						
						<li>
							<div id="particles"></div>
							<div class="banner-w3text">
								<h3>Algoritmo de Romberg</h3>
								<h5>Resumen</h5>
								<p>En análisis numérico, el Método de Romberg genera una matriz triangular cuyos elementos son estimaciones numéricas de la integral definida usando la extrapolación de Richardson de forma reiterada en la regla del trapecio. El método de Romberg evalúa el integrando en puntos equiespaciados del intervalo de integración estudiado. Para que este método funcione, el integrando debe ser suficientemente derivable en el intervalo, aunque se obtienen resultados bastante buenos incluso para integrandos poco derivables. Aunque es posible evaluar el integrando en puntos no equiespaciados, en ese caso otros métodos como la cuadratura gaussiana o la cuadratura de Clenshaw–Curtis son más adecuados.</p>
								<div class="banner-buttons"> 
								</div>
							</div>
						</li>
						<li>
							<div id="particles"></div>
							<div class="banner-w3text">
								<h3>Algoritmo de Simpson</h3>
								<h5>Resumen</h5>
								<p>El Método de Simpson sustituye a la curva y=f(x)  por una serie de arcos contiguos, cada uno de estos arcos es un arco de parábola de eje vertical. Esto nos lleva a aproximar el área bajo la curva mediante la suma de las áreas bajo cada arco de parábola.
								</p>
								<p>El procedimiento es similar al de los Trapecios, con la siguiente condición:</p>
								<p>El número n de subintervalos debe ser un número par.</p>
								<p>Esta condición surge del hecho que para definir la ecuación de una parábola se necesitan tres puntos.</p>
								
								<div class="banner-buttons"> 
									</div>
							</div>
						</li>
						<li>
							<div id="particles"></div>
							<div class="banner-w3text">
								<h3>Algoritmo del Trapecio</h3>
								<h5>Resumen</h5>
								<p>La regla se basa en aproximar el valor de la integral de f(x) por el de la función lineal que pasa a través de los puntos (a, f(a)) y (b, f(b)). La integral de ésta es igual al área del trapecio bajo la gráfica de la función lineal.</p>
								<div class="banner-buttons">
								</div>
							</div>
						</li>
					</ul>
				</div>	
			</div>
				
				
		</div>
		<!-- //container -->
	</div>
	

	{% endblock maincontent %}
	
	
	{% block bottomtext %}
	<!-- welcome -->
	<div class="welcome">
		<!-- container -->
		<div class="container">
			<div class="welcome-info">
				<h2 class="agileits-title">Bienvenido</h2>
				<h5>El único fracaso verdadero en la vida es no aprender de ella</h5><h6><i>Anthony J. D’Angelo</i></h6>
				<!--<p></p>-->
			</div>
		</div>
		<!-- //container -->
	</div>
	<!-- //welcome -->
	{% endblock bottomtext %}
	
	{% block plugins %}
	<script type="text/javascript" src="{% static 'js/particles.js' %}"></script>
	{% endblock plugins %}