{% extends "base.html" %} {% load static %}{% block subtitle %}- Herramienta{% endblock subtitle %}
{% block activemenu %}
		<li><a href="./index">Inicio</a></li>
		<li><a href="./teoria">Teoría</a></li>
		<li><a href="./herramienta" class="active">Herramienta</a></li>
		<li><a href="./ayuda">Ayuda</a></li>	 
	{% endblock activemenu %}
{% block maincontent %}
<div class="">
	
	<!-- about-bottom -->
	<div class="about-bottom">
		<!-- container -->
		<div class="container">
			<div id="forms" class="grid_3 grid_4">
			<h3 class="w3ls-hdg">Datos para la funcion</h3>
			<div class="">
				
				<form class="form-horizontal" action="" method="post">
					<div class="form-group">
						<label for="funcion" class="col-sm-2 control-label label-input-sm">Funcion:</label>
						<h3 class="col-sm-1 control-label">&#x222b;</h3>
						<div class="col-sm-9">
							<input type="text" required class="form-control1 input-sm" id="funcion" placeholder="Ejemplo: x+1">
						</div>
					</div>
					<div class="form-group">
						<label for="iterations" class="col-sm-2 control-label label-input-sm">No. iteraciones:</label>
						<div class="col-sm-2">
							<input type="text" required class="form-control1 input-sm" id="iterations" placeholder="Enteros positivos">
						</div>
						<label for="lowerbound" class="col-sm-2 control-label label-input-sm">Limite inferior:</label>
						<div class="col-sm-2">
							<input type="text" required class="form-control1 input-sm" id="lowerbound" placeholder="Valor de inicio">
						</div>
						<label for="upperbound" class="col-sm-2 control-label label-input-sm">Limite superior:</label>
						<div class="col-sm-2">
							<input type="text" required class="form-control1 input-sm" id="upperbound" placeholder="Valor final">
						</div>
					</div>
					<!--<a href="" class="col-sm-2 col-sm-offset-5 btn btn1 btn-1 btn-1b w3-agile centered">Calcular</a>-->
					<!--<button class="col-sm-2 col-sm-offset-5 btn1 btn-1 btn-1b w3-agile centered">Calcular</button>-->
				</form>
			</div>
		</div>
			<div class="">
				<div class="row">
				<div id="loading" class="col-md-4 col-md-offset-4 choose-grid text-center">
					<!-- begin #page-loader -->
					<!-- end #page-loader -->
					<div id="error"></div>
					<div class="choose-button col-md-12 col-sm-12" id="topBar"><a class="agile-icon" href="#" id="btn-graph"><i class="fa fa-bar-chart-o"></i>Graficar</a></div>
					<!--<div id="topBar"> <a href='#' class="choose-button" id="btn-graph" ><i class="fa fa-bar-chart-o"></i> grafica </a> </div>-->
					
				</div>
				</div>
				<div class="row">
				<div class="col-sm-12 text-center" id="grafica" height="10px">
					<object id='target' type="text/html"></object>
				</div>
				</div>
				<div id="error"> </div>
				<div class="clearfix"> </div>
			</div>
			<br>
			
			<div id="forms" class="grid_3 grid_4">
			<h3 class="w3ls-hdg">Resultado de la funcion</h3>
			
			<div class="col-sm-4 col-sm-offset-4 text-center">
				<strong>Resultado Valor Real</strong>
				<br />
				<span class="badge badge-primary " id="valorReal">1</span>
				<p></p>
			</div>
			<br><br>
			<table class="table table-bordered">
						<thead>
							<tr>
								<th></th>
								<th class="text-center">Metodo del Trapecio</th>
								<th class="text-center">Metodo de Simpson</th>
								<th class="text-center">Metodo de Romberg</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><strong>Resultado</strong></td>
								<td><span id='tResult' class="badge badge-primary">1</span></td>
								<td><span id='sResult' class="badge badge-primary">2</span></td>
								<td><span id='rResult' class="badge badge-primary">3</span></td>
							</tr>
							<tr>
								<td><strong>Error Relativo</strong></td>
								<td><span id='tRelError' class="badge badge-primary">1</span></td>
								<td><span id='sRelError' class="badge badge-primary">1</span></td>
								<td><span id='rRelError' class="badge badge-primary">1</span></td>
							</tr>
							<tr>
								<td><strong>Error Absoluto</strong></td>
								<td><span id='tAbsError' class="badge badge-primary">1</span></td>
								<td><span id='sAbsError' class="badge badge-primary">1</span></td>
								<td><span id='rAbsError' class="badge badge-primary">1</span></td>
							</tr>
						</tbody>
					</table>
		</div>
		</div>

		
		<!-- container -->
	</div>
	<!-- about-bottom -->
	<!-- about-team -->
	<div class="about-team agileits-w3layouts">
		<!-- container-wrap -->
		<!-- //container -->
	</div>
	<!-- //about-team -->
	<!-- choose -->

	<!-- //choose -->
</div>
{% endblock maincontent %} {% block bottomtext %} {% endblock bottomtext %} {% block plugins %}

<script type="text/javascript" src="{% static 'js/updateGraph.js' %}"></script>
<link href="{% static 'css/loading.css' %}" rel="stylesheet" />
  <script data-pace-options='{ "ajax": false, "document": false, "startOnPageLoad": false}' src="{% static 'js/pace.min.js' %}"></script>
<!--<script type="text/javascript" data-pace-options='{ "ajax": false }' src="https://raw.github.com/HubSpot/pace/v1.0.0/pace.min.js"></script>-->
{% endblock plugins %}
